.hero-card-container {
  background-color: #fffaf5;
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* height: 100vh; */
  z-index: -1;
  height: 612px;
  display: flex;
}

.hero-card-contents {
  display: flex;
  /* border: 1px solid green;
  width: 70%;
  margin: auto; */
  /* width: 412px; */
  /* padding: 2rem; */
  width: 80%;
  margin: auto;
  background: url("/img/mobile-bg.png") center/contain no-repeat;
  height: 80%;
  position: relative;
}

.hero-card.card {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* width: 90%; */
  /* height: auto; */
  background: rgba(254, 240, 222, 0.8);
  box-shadow: 0px 0px 2.0625rem 0px rgba(217, 217, 217, 0.71);
  padding: 1.4rem;
  /* margin-top: 2rem; */
  /* border: 1px solid blue; */
  position: relative;
  overflow: hidden;
  max-width: 412px;
  /* width: 412px; */
  margin: auto;
}
.hero-card .card-contents {
  /* padding-top: 3rem; */
}
/* .hero-card h1,
.hero-card h2,
.hero-card p,
.hero-card button {
  flex-grow: 1;
} */

.hero-card h1 {
  color: var(--main-color, #ff8c00);
  font-family: Noto Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
}

.hero-card h2 {
  color: var(--secondary-color, #383838);
  font-size: 0.85rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
  text-align: left;
}

.hero-card h2 span {
  color: var(--main-color, #ff8c00);
}

.hero-card p {
  color: var(--secondary-color, #383838);
  font-family: Noto Sans;
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
  text-align: left;
}
.hero-card button {
  align-self: center;
  width: 100%;
  /* padding: 14px 66px; */
  padding: 0.7rem;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  position: relative;
  z-index: 1;
}
.hero-arrow {
  background-color: #fffaf5;
  padding: 2rem;
}

.hero-arrow span {
  display: block;
  margin: 0 auto;
  width: 55px;
}

/* =================rounded images styles================ */
/* .rounded-images{
  
} */
.rounded-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.rounded-image img {
  border-radius: inherit;
}

/* ================================
 for Tablets
===================================*/
@media (min-width: 710px) {
}

/* Large Screen Styles */
@media (min-width: 980px) {
  .hero-card-container {
    /* display: flex; */
    /* height: 100vh; */
  }
  .hero-card-contents {
    background: url("/img/image7.svg") 25px 50px / contain no-repeat;
    height: 100%;
    padding-top: 2rem;
  }
  .hero-card .card-contents {
    padding-top: 3rem;
  }
  .hero-card.card {
    height: 100%;
  }

  .hero-card h1 {
    font-size: 5rem;
  }

  .hero-card h2,
  .hero-card h2 span {
    font-size: 1.5rem;
  }

  .hero-card p {
    font-size: 1.2rem;
    /* text-wrap: wrap;
    overflow-wrap: break-word; */
  }

  /* ==============rounded images styles====== */
  .rounded-image {
    height: 120px;
    width: 120px;
  }
  .rounded-image:first-child {
    bottom: 50px;
    left: -45px;
  }
  .rounded-image:nth-child(2) {
    top: 150px;
    right: -50px;
    /* left: 95%; */
  }
  .rounded-image:nth-child(3) {
    top: 25px;
    right: 80px;
  }
  .rounded-image:last-child {
    bottom: -10px;
    right: 0;
  }
}

/* ============larger desktop screen======= */

@media (min-width: 1200px) {
  .rounded-image:first-child {
    bottom: 0;
  }
  .rounded-image:nth-child(2) {
    top: 170px;
  }
  .rounded-image:last-child {
    right: 30px;
  }
}
